
.site {
  .woocommerce-ordering {
    float: none;
    margin-bottom: 0;
    
    select {
      vertical-align: middle;
    }
  }
  
  div.products {
    div.product {
      .star-rating {
        margin-top: 0.4rem;
      }

      .price {
        del {
          opacity: 0.5;
        }
      }
    }
  }  

  div.products-grid {
    div.product {
      .price {
        display: inline-block;
        font-size: $archive-price-font-size;
        margin-top: 0.5rem;
      }
    }
  }

  div.products-list {
    div.product {
      .price {
        display: block;
        margin-top: 1rem;
      }
    }        
  }
}

.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
  margin-bottom: 0;

  &,
  a & {    
    color: $headings-color;
    font-size: $title-font-size;
  }
  
  a:hover & {
    color: $primary;
  }
}

.term-description {
  margin-bottom: 2rem;
}

div.products {
  position: relative;
  
  &:not(.posts-carousel) {
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);

    @include media-breakpoint-up(xl) {
      margin-left: calc(var(--bs-gutter-x) * -0.625);
      margin-right: calc(var(--bs-gutter-x) * -0.625);
    }

    > * {
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      
      @include media-breakpoint-up(xl) {
        padding-left: calc(var(--bs-gutter-x) * 0.625);
        padding-right: calc(var(--bs-gutter-x) * 0.625);
      }
    }
  }

  > * {
    position: relative;
    padding-bottom: calc(var(--bs-gutter-x) * 1);
    
    @include media-breakpoint-up(xl) {
      padding-bottom: calc(var(--bs-gutter-x) * 1.25);
    }
  }

  &.posts-slider > * {
    padding-bottom: 0;
  }

  .product-labels {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(var(--bs-gutter-x) * 0.5);
    top: calc(var(--bs-gutter-x) * 0.5);

    @include media-breakpoint-down(lg) {
      span {
        font-size: 0.6em;
      }
    }       
  }

  .product-inner {
    padding: calc(var(--bs-gutter-x) * 0.5);
    position: relative;
    
    @include media-breakpoint-up(xl) {
      padding: calc(var(--bs-gutter-x) * 0.625);
    }      
  }

  .product-thumbnail {
    position: relative;
    margin-bottom: calc(var(--bs-gutter-x) * 0.25);

    @include media-breakpoint-up(xl) {
      margin-bottom: calc(var(--bs-gutter-x) * 0.3125);
    }

    img {
      border-radius: $border-radius-lg;
      width: 100%;
    }

    .added_to_cart,
    .button[class*="product_type_"] {
      position: absolute;
      margin: 0;
      border-radius: $border-radius-pill;
      text-indent: -1000px;
      overflow: hidden;
      padding: 0;
      width: 2.625rem;
      height: 2.625rem;
      line-height: 2.625rem;

      &:after {
        line-height: inherit;
        margin-left: 0;
        text-indent: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
      }
    }

    .button[class*="product_type_"] {
      right: calc(var(--bs-gutter-x) * 0.6);
      top: calc(var(--bs-gutter-x) * 0.6);
      
      @include media-breakpoint-down(lg) {
        right: calc(var(--bs-gutter-x) * 0.5);
        top: calc(var(--bs-gutter-x) * 0.5);
      }
    }

    .added_to_cart {
      opacity: 0;
      top: 50%;
      left: 50%;
      margin-left: -1.3125rem;
      margin-top: -1.3125rem;
      transition: 0.3s;
      z-index: 20;
    }
  }

  .woocommerce-loop-product__title {
    &.with-rating {
      padding-right: 4em;
    }
  }

  .category-list {
    display: block;
    font-size: 0.75em;

    a {
      color: $secondary;

      &:hover {
        color: $primary;
      }
    }
  }

  .woocommerce-product-details__short-description {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
  }

  .added_to_cart,
  .button[class*="product_type_"] {
    margin-top: 0.75rem;

    &:after {
      display: inline-block;
      font-family: FontAwesome;
      margin-left: 0.5rem;
      line-height: 1;
      position: static;
      vertical-align: inherit;
    }
  }

  .added_to_cart:after {
    content: '\f290';
  }

  .button[class*="product_type_"] {
    &.loading {
      opacity: 1;

      &:after {
        content: '\f110';
        animation-duration: 1s;
      }
    }
    
    &:after {
      content: '\f061';
    }
  }

  .add_to_cart_button[class*="product_type_simple"]:after {
    content: '\f07a';
  }

  .quantity {
    display: inline-block;
    margin-top: 0.75rem;
    
    + .button[class*=product_type_] {
      margin-top: 0.5rem;
      vertical-align: inherit;
      padding: $btn-padding-y $btn-padding-x;
    }
  }

  div.product {
    display: flex;
    background: $section-bg;
    border-radius: $border-radius-lg;
    height: 100%;
    padding: calc(var(--bs-gutter-x) * 0.5);
    @include clearfix;      

    @include media-breakpoint-up(xl) {
      padding: calc(var(--bs-gutter-x) * 0.625);
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }

    &:hover {
      .product-thumbnail {
        .added_to_cart {
          opacity: 1;
        }
      }
    }
  }  
}

div.products-view-cart-onimage-bottom {
  .product-thumbnail {
    .button[class*="product_type_"] {
      top: auto;
      bottom: calc(var(--bs-gutter-x) * 0.6);
      
      @include media-breakpoint-down(lg) {
        bottom: calc(var(--bs-gutter-x) * 0.5);
      }
    }
  }
}

div.products-grid {
  div.product {
    flex-direction: column;

    .star-rating {
      position: absolute;
      right: calc(var(--bs-gutter-x) * 0.5);
      top: calc(var(--bs-gutter-x) * 0.5);

      @include media-breakpoint-up(xl) {
        right: calc(var(--bs-gutter-x) * 0.625);
        top: calc(var(--bs-gutter-x) * 0.625);
      }
    }    
  }

  .product-detail-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .detail-left {
      flex: 1 1 auto;
    }
  
    .category-list {
      margin-top: 0.5rem;
    }
  }
}

div.products-grid:not(.products-view-show-cart-label, .products-view-quantity-input) {
  .button[class*="product_type_"] {
    border-radius: $border-radius-pill;
    float: right;
    text-indent: -1000px;
    overflow: hidden;
    padding: 0;
    width: 2.625rem;
    height: 2.625rem;
    line-height: 2.625rem;

    &:after {
      margin-left: 0;
      line-height: inherit;
      text-indent: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      text-align: center;
    }
  }
}

div.products-grid.products-view-show-cart-label,
div.products-grid.products-view-quantity-input {
  .product-detail-bottom {
    display: block;
  }
}

div.products-grid.products-view-onimage,
div.products-grid.products-view-onimage-with-overlay {
  .product-inner {
    position: absolute;
    left: calc(var(--bs-gutter-x) * 0.5);
    right: calc(var(--bs-gutter-x) * 0.5);
    bottom: calc(var(--bs-gutter-x) * 0.5);
    opacity: 0;
    transition: transform .4s, opacity .3s;
    transform: translateZ(0) translateY(10px);
    z-index: 20;
    
    @include media-breakpoint-up(xl) {
      left: calc(var(--bs-gutter-x) * 0.625);
      right: calc(var(--bs-gutter-x) * 0.625);
      bottom: calc(var(--bs-gutter-x) * 0.625);
    }
  }

  .product:hover {
    .product-inner {
      opacity: 1;
      transform: translateZ(0) translateY(0);
    }
  }

  .product-thumbnail {
    margin-bottom: 0;
  }
}

div.products-grid.products-view-onimage {
  .product-inner {
    background: $section-bg;    
  }
}

div.products-grid.products-view-onimage-with-overlay {
  .product-thumbnail {
    &:after {
      content: "";
      border-radius: $border-radius-lg;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: .25s;
      z-index: 10;
    }    
  }

  .product-inner {
    *:not(.button[class*=product_type_], .star-rating, .star-rating span) {
      color: #fff !important;
    }
  }

  .product:hover {
    .product-thumbnail {
      &:after {
        background: rgba(27, 27, 27, 0.5);
      }
    }
  }
}

div.products-list {
  .product-thumbnail {
    flex: none;
    margin-bottom: 0;
    height: fit-content;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0.5rem;
    } 
  
    img {
      max-width: 250px;

      @include media-breakpoint-down(xl) {
        max-width: 200px;
      }

      @include media-breakpoint-down(lg) {
        max-width: 175px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }
  }

  .product-inner {
    display: flex;
    flex: 1 1 auto;
    margin-left: 2rem;

    @include media-breakpoint-down(xl) {
      margin-left: 1.5rem;
    }

    @include media-breakpoint-down(lg) {
      display: block;
      margin-left: 1rem; 
    }

    @include media-breakpoint-down(md) {
      margin-left: 0.5rem;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }

    .product-detail-top {
      flex: 1 1 auto;
    }
  }

  .category-list {
    margin-bottom: 0.5rem;
  }

  .product-detail-bottom {
    flex: none;
    text-align: right;
    margin-left: 2rem;

    @include media-breakpoint-down(xl) {
      margin-left: 1rem;
    }

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      text-align: left;
    }

    .button[class*=product_type_] {
      margin-top: 1.5rem;
    }
  }
}

div.products-list.products-view-quantity-input {
  .product-inner {
    display: block;
  }

  .product-detail-bottom {
    margin-left: 0;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .detail-left {
        text-align: left;
      }

      .detail-right {
        margin-left: 1rem;
      }      
  
      .button[class*=product_type_] {
        margin-top: 1rem;
      }
    }    
  }

  .quantity {
    margin-top: 1rem;

    + .button[class*=product_type_] {
      margin-top: 0.5rem;
    }
  }
}

#modal-cart-notification {
  .product-thumbnail {
    max-width: 150px;
    margin: 0 auto;

    img {
      border-radius: $border-radius-lg;
    }
  }
}

.toast-cart-notification-wrap {
  z-index: 11;

  .product-title {
    font-weight: $headings-font-weight;
  }

  .toast {
    background-color: $section-bg;
  }

  .product-thumbnail {
    max-width: 60px;

    img {
      border-radius: $border-radius-lg;
    }
  }
}