
// Primary wrap
body.single-product {
  .primary-wrap {
    &.site-layout-wide,
    &.site-layout-full {
      margin-top: 0;

      .primary-inner {
        > .row {
          margin-left: 0;
          margin-right: 0;

          > .site-main {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

.primary-wrap:not(.site-layout-wide, .site-layout-full) {
  div.product {
    @include media-breakpoint-down(lg) {
      div.images,
      div.summary {
        width: 100%;
      }

      &:not(.product-view-full-width) div.summary {
        margin-top: 2rem;
      }
    }
  }
}

// Fix billing field wrapper
.woocommerce-input-wrapper {
  width: 100%;
}

// Notices
.woocommerce-notices-wrapper .woocommerce-message {
  @extend .alert;
  @extend .alert-success;
  padding: 1em 2em 1em 3.5em;
  margin-bottom: 2rem;

  a.button {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-success;
    margin: -3px 0 -5px;
  }

  &.woocommerce-error {
    @extend .alert-danger;
    a.button {
      @extend .btn-danger;
    }
  }
}

.woocommerce-info {
  @extend .alert;
  @extend .alert-info;
  padding: 1em 2em 1em 3.5em;
  margin-bottom: 2rem;
  
  a.button {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-info;
    margin: -4px 0;
  }
}

.woocommerce,
.woocommerce-page {
  div.product p.price, 
  div.product span.price,
  ul.products li.product .price,
  div.products div.product .price {
    color: $body-color;
    font-weight: $font-weight-bold;
    font-size: $single-price-font-size;
    margin-top: 1rem;
    margin-bottom: 0;

    del {
      font-size: 0.85em;
      margin-right: 0.5rem;
      opacity: 0.8;
    }

    ins {
      color: $primary;
      text-decoration: none;
    }
  }  

  .star-rating {
    color: $primary;
  }

  #respond input#submit.alt, 
  a.button.alt, 
  button.button.alt, 
  input.button.alt {
    @extend .btn;
    @extend .btn-primary;
  }
}

.woocommerce-review-link {
  color: $secondary;

  &:hover {
    color: $primary;
  }
}

.product {
  .quantity {
    .input-group {
      min-width: 80px;
    }
    
    .qty {
      padding-left: 0;
      padding-right: 0;
      width: 30px;
      -moz-appearance: textfield;
  
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }
    }
  
    .qty,
    .minus,
    .plus {
      background: $light;
      border-color: $light;

      &:focus {
        box-shadow: none;
      }
    }
  
    .minus,
    .plus {
      color: $secondary;
      padding-left: 0;
      padding-right: 0;
      width: 25px;
      text-indent: -9999px;
      position: relative;
      overflow: hidden;

      &:hover {
        color: inherit;
      }

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 9px;
        border-top: 1px solid;
        margin-top: -0.5px;
        margin-left: -4.5px;
      }
    }

    .plus {
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 9px;
        border-left: 1px solid;
        margin-top: -4.5px;
        margin-left: -0.5px;
      }
    }
  }
}
