
// Primary wrap
body.single-product {
  .primary-wrap {
    &.site-layout-wide,
    &.site-layout-full {
      margin-top: 0;

      .primary-inner {
        > .row {
          margin-left: 0;
          margin-right: 0;

          > .site-main {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

.primary-wrap:not(.site-layout-wide, .site-layout-full) {
  div.product {
    @include media-breakpoint-down(lg) {
      div.images,
      div.summary {
        width: 100%;
      }

      &:not(.product-view-full-width) div.summary {
        margin-top: 2rem;
      }
    }
  }
}

// Fix billing field wrapper
.woocommerce-input-wrapper {
  width: 100%;
}

// Notices
.site {
  .woocommerce-message,
  .woocommerce-notice,
  .woocommerce-info,
  .woocommerce-error {
    @extend .alert;
    margin-bottom: 2rem;
  }
  
  .woocommerce-message,
  .woocommerce-info,
  .woocommerce-error {
    padding: 1em 2em 1em 3.5em;
    
    a.button {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-success;
      margin: -3px 0 -5px;
    }
  }
  
  .woocommerce-notice {
    padding: 1em 2em;
  }
  
  .woocommerce-message,
  .woocommerce-notice {
    @extend .alert-success;
  
    a.button {
      @extend .btn-success;
    }
  }
  
  .woocommerce-error {
    @extend .alert-danger;
    
    a.button {
      @extend .btn-danger;
    }
  }
  
  .woocommerce-info {
    @extend .alert-info;
    
    a.button {
      @extend .btn-info;
    }
  }

  .blockUI.blockOverlay {
    background: transparent !important;
    opacity: 1 !important;

    &:before {
      @extend .spinner-border;
      @extend .text-primary;
      background-image: none;
      font-size: 1rem;
      width: 3rem;
      height: 3rem;
      margin-left: -1.5rem;
      margin-top: -1.5rem;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      opacity: 0.25;
      z-index: 1;
    }
  }

  a.remove {
    color: $secondary !important;

    &:hover {
      background: transparent;
      color: $primary !important;
    }
  }

  .star-rating {
    margin-top: 0.5rem;
  }

  .amount {
    font-weight: $font-weight-bold;
  }

  div.product p.price, 
  div.product span.price,
  ul.products li.product .price,
  div.products div.product .price {
    color: $body-color;
    font-weight: $font-weight-bold;
    font-size: $single-price-font-size;
    margin-top: 1rem;
    margin-bottom: 0;

    del {
      font-size: 0.85em;
      margin-right: 0.5rem;
      opacity: 0.8;
    }

    ins {
      color: $primary;
      text-decoration: none;
    }
  }  

  .star-rating {
    color: $primary;
    font-size: 0.625rem;
  }

  #respond input#submit,
  a.button, 
  button.button, 
  input.button {
    @extend .btn;
    border: 1px solid $light;
    background: $light;

    &:hover {
      background: $primary;
      border-color: $primary;
      color: color-contrast($primary);
    }

    &:disabled,
    &.disabled,
    &:disabled[disabled] {
      background-color: $light;
      border-color: $light;
    }

    &:disabled[disabled] {
      @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    }

    &.alt {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

.woocommerce-review-link {
  color: $secondary;

  &:hover {
    color: $primary;
  }
}

.quantity {
  .input-group {
    width: 90px;
  }
  
  .qty {
    padding-left: 0;
    padding-right: 0;
    -moz-appearance: textfield;

    .site & {
      width: 30px;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .qty,
  .minus,
  .plus {
    background: $light;
    border-color: $light;

    &:focus {
      box-shadow: none;
    }
  }

  .minus,
  .plus {
    color: $secondary;
    padding-left: 0;
    padding-right: 0;
    width: 25px;
    text-indent: -9999px;
    position: relative;
    overflow: hidden;

    &:hover {
      color: inherit;
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 9px;
      border-top: 1px solid;
      margin-top: -0.5px;
      margin-left: -4.5px;
    }
  }

  .plus {
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      height: 9px;
      border-left: 1px solid;
      margin-top: -4.5px;
      margin-left: -0.5px;
    }
  }
}
