
.acf-field.acf-field-Typography > .acf-input {
  border: #ccd0d4 solid 1px;
  padding: 5px 16px;
}

div[data-type~="wordtrap-padding"], div[data-type~="wordtrap-margin"]{
  padding: 10px !important;
  border: 1px solid #c5c5c5 !important;
}

.acf-field-wordtrap-border-radius .wordtrap_acf-border_radius,
.acf-field-wordtrap-padding .wordtrap_acf-padding,
.acf-field-wordtrap-margin .wordtrap_acf-margin {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.acf-field-wordtrap-border-radius .wordtrap_acf-border_radius .acf-range-wrap input,
.acf-field-wordtrap-padding .wordtrap_acf-padding .acf-range-wrap input,
.acf-field-wordtrap-margin .wordtrap_acf-margin .acf-range-wrap input {
  margin-left: 0; 
}

.wordtrap_acf_pannel_eye {
  position: absolute;
  top: -22px;
  right: 0;
}

.wordtrap_acf_pannel_eye svg {
  width: 17px;
  height: 19px;
}

.wordtrap_acf-checkbox-true-false[type=checkbox] {
  display:none;
}

.wordtrap_acf-checkbox-true-false[type=checkbox] + label {
  height: 16px;
  width: 16px;
  fill: #444;
  pointer-events: none;
}

.wordtrap_acf-checkbox-true-false[type=checkbox]:checked + label {
  height: 16px;
  width: 16px;
  fill: #444;
}

.wordtrap_acf_cs_field_root {
  text-align: right;
  margin-top: -24px;
  cursor: pointer;
}

.wordtrap_acf_eye_svg {
  width: 15px;
  height: 15px;
}

.wordtrap_acf_border_radius_main,
.wordtrap_acf_margin_main,
.wordtrap_acf_padding_main {
  border: 1px solid #ccd0d4;
  text-align: left;
  margin-top: 5px;
  padding: 10px 0;
}

.wordtrap_acf_border_radius_main .acf-field,
.wordtrap_acf_margin_main .acf-field,
.wordtrap_acf_padding_main .acf-field {
  margin: 8px 0;
}