/**
 * Wordtrap Admin Templates Builder
 * @since 1.0.0
 */
#wordtrap-template-tabs {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

input.wordtrap-template-shortcode,
input.wordtrap-template-shortcode:focus {
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
}

#template-type-dialog .form-wrap {
  min-width: 300px;
}

#template-type-dialog label {
  margin-bottom: 5px;
}

#template-type-dialog select,
#template-type-dialog input[type="text"] {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.edit-post-meta-boxes-area .postbox .handlediv {
  vertical-align: top;
}

.postbox .redux-container .redux-section-title {
  display: none;
}

.redux-container .redux-main .redux-field-container.redux_remove_th {
  padding-top: 32px;
}

.redux-container .redux-main .redux-group-tab > .form-table {
  margin-top: -30px !important;
}

.redux-metabox .redux-notices > div {
  background: transparent;
  box-shadow: none;
  border: none;
}