/*
* The styles for Blocks
*
* @package Wordtrap
* @since wordtrap 1.0.0
*/

// Calendar
.wp-block-calendar {
  table {
    tbody, 
    caption {
      color: inherit;
    }
  }
}

// Archives, Page List, Categories
[class*="wp-block"][class$="list"],
[class*="wp-block"][class*="list "] {
  list-style: none;
  padding-left: 0;

  ul {
    list-style: none;
    padding-left: 0.5rem;
  }
  
  li {
    margin: 1em 0;
  }
}

// Latest Comments
.wp-block-latest-comments {
  padding-left: 0;
}

.wp-block-latest-comments__comment-date {
  margin-top: 1em;
}

// Tag Cloud
.tag-cloud-link {
  background: darken($body-bg, 10%);
  color: $body-color;
  text-decoration: none;
  font-weight: normal;
}

// Socials
.wp-block-social-link {
  border-radius: $border-radius;
}

// Search
.wp-block-search {
  label {
    @extend .form-label;
  }

  input {
    @extend .form-control;
  }
  
  button {
    @extend .btn;
    @extend .btn-primary;
  }
}

// Tag Cloud
.tag-cloud-link {
  @extend .badge;
}

// Tables
.wp-block-table table {
  @extend .table;
  @extend .table-bordered;
}

// Block Quotes
.wp-block-quote {
  @extend .blockquote;
  cite {
    @extend .blockquote-footer;
  }
}

// Image captions
figure.wp-block-image {
  @extend .figure;
  display: block;
  img {
    @extend .figure-img;
  }
  figcaption {
    @extend .figure-caption;
  }
}

// Alternate/classic editor image captions.
.wp-block-image > figure{
  @extend .figure;
  display: block;
  img {
    @extend .figure-img;
  }
  figcaption {
    @extend .figure-caption;
  }
}

// Buttons
.wp-block-buttons {
  .wp-block-button {
    .wp-block-button__link {
      @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    }
    &:not(.is-style-outline) .wp-block-button__link {
      border: $btn-border-width solid transparent;
    }
  }
}
