// Tabs
.nav-tabs-bottom {
  border-top: $nav-tabs-border-width solid $nav-tabs-border-color;
  border-bottom: none;

  .nav-link {
    margin-top: -$nav-tabs-border-width;
    margin-bottom: 0;
    @include border-top-radius(0);
    @include border-bottom-radius($nav-tabs-border-radius);
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: $nav-tabs-link-active-bg $gray-300 $gray-300;
  }
}

.nav-tabs.flex-column {
  border: none;
  border-right: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-link {
    margin-right: -$nav-tabs-border-width;
    margin-bottom: 0;
    @include border-top-radius(0);
    @include border-start-radius($nav-tabs-border-radius);
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: $gray-300 $nav-tabs-link-active-bg $gray-300 $gray-300;
  }
}

.nav-tabs-bottom.flex-column {
  border: none;
  border-left: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-link {
    margin-left: -$nav-tabs-border-width;
    margin-bottom: 0;
    @include border-top-radius(0);
    @include border-end-radius($nav-tabs-border-radius);
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: $gray-300 $gray-300 $gray-300 $nav-tabs-link-active-bg;
  }
}

.nav.flex-column {
  .nav-link {
    white-space: nowrap;
  }
}

.wordtrap-tabs {
  .nav-link {
    cursor: pointer;
  }
  
  &.d-flex {
    .tab-content {
      width: 100%;
    }
  }

  .tab-pane {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.wordtrap-accordion {
  .accordion-body {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.wordtrap-icon-box {
  display: flex;
  @include transition(all 0.2s);

  .icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    @include transition(all 0.2s);
  }

  .content-wrap {
    text-align: left;    
  }

  .icon-wrap,
  .box-title,
  .box-content {
    @include transition(all 0.2s);
  }

  &.icon-box-center {
    flex-direction: column;
    align-items: center;

    .content-wrap {
      text-align: center;
    }
  }  

  &.icon-box-right {
    flex-direction: row-reverse;    

    .content-wrap {
      text-align: right;
    }
  }  
}