/*
 * The styles for member post type
 *
 * @package Wordtrap
 * @since wordtrap 1.0.0
 */

article.member {
  &.member-singular {
    display: block;
  }

  @include media-breakpoint-up(xl) {
    .overview {
      display: flex;

      .container {
        display: flex;
      }
    }
  }

  .overview {
    > .container {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  
    @include media-breakpoint-down(sm) {
      > .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
  .entry-content {
    margin-top: 0;
  }

  .entry-footer {
    display: block;
  }

  .post-thumbnail {
    .follow-links {
      margin: 0;
      padding: 0;
      border: none;

      label,
      .share-button {
        display: none;
      }
    }
  }
}

body.single-member {
  .primary-wrap {
    &.site-layout-without-sidebars,
    &.site-layout-full-without-sidebars {
      margin-bottom: 0;

      .site-main {
        margin-bottom: 0;
      }

      article.hentry {
        margin-bottom: 0;
      }
      
      .overview {
        border-radius: 0;
        display: block;
        padding-bottom: 5rem;
      }

      @include media-breakpoint-up(xl) {
        .overview-inner {
          display: flex;
        }
      }

      .entry-content {
        margin-top: 0;
      }
    }
  }
}

.posts-grid {
  .member {
    .entry-title {
      font-size: $title-font-size * 1.1;
    }

    .entry-overview {
      display: block;
    }

    .entry-footer .read-more a {
      font-size: 0.9rem;
      font-weight: $font-weight-normal;
    }
  }  
}

.follow-links {
  display: flex;
  margin-top: 2rem;
  border-top: 1px solid $border-color;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  flex-direction: row-reverse;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  label {
    color: $gray-500;
    margin-right: 1rem;
  }

  .social-share {
    margin-top: 1rem;
  }

  .share-button {
    @extend .btn;
    background: $light;
    padding-top: 0;
    padding-bottom: 0;
    height: 2.25rem;
    line-height: 2.25rem;
    margin-top: 1rem;

    &:hover {
      background: $primary;
      border-color: $primary;
      color: color-contrast($primary);
    }
  }
}