/*
 * The styles for post
 *
 * @package Wordtrap
 * @since wordtrap 1.0.0
 */

.post-thumbnail {
  margin-bottom: 2.5rem;

  img {
    border-radius: $border-radius-lg;
    width: 100%;
    height: auto;
  }

  a {
    display: block;
    position: relative;
  }

  .post-format {

    &:before {
      background: $dark;
      border-radius: $border-radius-lg;
      content: '';
      opacity: 0.5;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.3s ease-in-out;
    }
    
    i {
      border-radius: $border-radius-pill;
      background: $primary;
      color: color-contrast($primary);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
    }
  }

  a:hover {
    .post-format {
      &:before {
        opacity: 0.65;
      }
    } 
  }
}

.content-wrap {
  > *:first-child {
    margin-top: 0;
  }
}

.navigation,
.comment-navigation,
.comment-by {
  a {
    color: $secondary;
    
    &:hover {
      color: $primary;
    }
  }
}

.entry-title {
  margin-bottom: 0;

  .badge {
    font-size: 0.4em;
    margin-left: 0.5em;
  }

  a {
    display: inline-block;
    position: relative;
    word-break: break-all;
    color: $body-color;
    color: $headings-color;
    
    &:hover {
      color: $primary;
    }
  }
}

.entry-meta {
  font-size: 0.8em;
  margin-top: 1rem;

  span:not(:last-child) {
    margin-right: 1rem;
  }

  .dashicons {
    width: auto;
    height: auto;
    font-size: inherit;
    line-height: inherit;
  }

  a {
    color: $gray-500;

    &:hover {
      color: $primary;
    }
  }  
}

.post-comments {
  a {
    color: $primary;

    &:hover {
      color: shade-color($primary, $btn-hover-bg-shade-amount);
    }
  }
}

.entry-content {
  margin-top: 1.5rem;
  @include clearfix;

  figure,
  img,
  iframe {
    max-width: 100%;
  }

  iframe {
    display: flex;
    margin: 0 auto;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.entry-summary {
  margin-top: 1.5rem;
}

.entry-summary {
  > *:last-child {
    margin-bottom: 0;
  }
}

.entry-footer {
  display: flex;
  margin-top: 2rem;
  @extend .align-items-center;
  @extend .justify-content-between;

  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.post-tags {
  text-align: right;

  @include media-breakpoint-down(lg) {
    margin-top: 0.5rem;
    text-align: left;
  }

  a {
    @extend .badge;
    background: $light;
    color: $gray-500;
    font-size: 0.8em;
    font-weight: $font-weight-normal;
    margin-bottom: 5px;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 3px;
    }

    &:hover {
      color: $primary;
    }
  }
}

.post.full {
  .post-thumbnail {
    margin-top: -2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    
    @include media-breakpoint-down(lg) {
      margin-top: -1.5rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  
    @include media-breakpoint-down(sm) {
      margin-top: -1rem;
      margin-left: -1rem;
      margin-right: -1rem;
    }

    img {
      border-radius: $border-radius-lg $border-radius-lg 0 0;    
    }
  }
}

@include media-breakpoint-up(xl) {
  .post.medium {
    display: flex;

    .post-thumbnail {
      margin-bottom: 0;      
      padding-right: 2rem;
      width: 50%;
    }

    .content-wrap {
      width: 50%;
    }

    .entry-footer {
      display: block;
    }

    .post-tags {
      margin-top: 0.5rem;
      text-align: left;
    }
  }
}

article.post,
#comments,
.navigation,
.author-header,
body.search-results .site-main article.hentry {
  background: $section-bg;
  border-radius: $border-radius-lg;
  padding: 2rem;

  @include media-breakpoint-down(xl) {
    padding: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    padding: 1rem;
  }
}

article.post,
body.search-results .site-main article.hentry {
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

.post-password-form {
  input[type="password"] {
    @extend .form-control;
    width: auto;
    display: inline-block;
  }
  
  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
    vertical-align: top;
  }
}

.post-nav-links {
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .align-items-center;
  @extend .justify-content-center;
  margin-top: 1rem;
}

.navigation {
  margin-top: 2rem;
}

// Comments
.comments-title {
  margin-bottom: 1rem;
  
  .badge {
    font-weight: $font-weight-normal;
  }
}

.no-comments {
  margin-top: 2rem;
  margin-bottom: 0;
}

#comments {
  margin-top: 2rem;

  .comment-navigation {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;    
  }

  #comment-nav-below {
    margin-top: 0;
  }

  .comment-body {
    background: transparent;
    border-radius: 0;
    margin-bottom: 0.5rem;
    padding: 0;
  }
}

.comment-list {
  &,
  ul {
    @extend .list-unstyled;
  }

  ul.children {
    margin-left: 4rem;

    @include media-breakpoint-down(md) {
      margin-left: 2rem;
    }
  }
}

.comment-meta {
  color: $gray-500;
  margin-bottom: 0.2rem;

  span:not(:last-child) {
    margin-right: 0.8rem;
  }

  span:not(.comment-by) {
    font-size: 0.85em;
  }
}

.comment-list {
  margin-bottom: 0;
}

.comment-respond {
  background: $light;
  border-radius: $border-radius-lg;
  padding: 2rem;

  @include media-breakpoint-down(xl) {
    padding: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    padding: 1rem;
  }

  .comment-list & {
    margin-bottom: 2rem;
  }
  
  .required {
    color: $danger;
  }

  .form-control {
    background-color: $section-bg;
    border: none;
  }

  .form-check-input {
    background-color: $section-bg;
    border: none;
    
    &:checked {
      background-color: $form-check-input-checked-bg-color;
  
      &[type="checkbox"] {
        @if $enable-gradients {
          background-image: escape-svg($form-check-input-checked-bg-image), var(--#{$variable-prefix}gradient);
        } @else {
          background-image: escape-svg($form-check-input-checked-bg-image);
        }
      }
    }
  }

  .form-submit {
    margin-bottom: 0;
  }
}

#cancel-comment-reply-link {
  font-size: 1rem;
  margin-left: 1rem;
}

// Pagination
.post-page-numbers,
.pagination .page-item .page-link {
  @extend .btn;
  border: none;
  border-radius: $border-radius-lg;
  color: $secondary;
  margin: 0.25em;
  padding-left: 0.58625rem;
  padding-right: 0.58625rem;
  min-width: 2.25rem;

  &:hover {
    color: $primary;
  }

  &.current {
    @extend .btn-primary;
  }
}

.pagination .page-item:first-child .page-link {
  margin-left: 0;
}

.pagination .page-item:last-child .page-link {
  margin-right: 0;
}

.post-page-numbers:not(.current, .dots) {
  background-color: $light;
}

.pagination .page-item .page-link:not(.current, .dots) {
  background-color: $section-bg;
}

.pagination .page-item .page-link.dots {
  cursor: default;
  min-width: 0;
}

.page-navigation .pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

// Filter Navigation
.posts-filter-nav {
  color: $secondary;

  select {
    @extend .form-select;
    background-color: $section-bg;
    border-color: transparent;
    border-radius: $border-radius-lg;
    color: $secondary;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    width: auto;
  }

  .posts-view-mode {
    // background-color: $section-bg;
    // border-radius: $border-radius-lg;
    // padding: 0 0.625rem;

    label {
      cursor: pointer;
      font-size: 1.2rem;
      margin-left: 1rem;
      //margin: 0 0.375rem;
      line-height: 1.35475;
      padding: 0.375rem 0;
    }

    input {
      @include visually-hidden;
    }

    input:checked ~ * {
      color: $primary;
    }
  }

  .posts-filter-wrap {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      display: block;
      text-align: center;

      .posts-view {
        margin-top: 1rem;
      }

      .pagination {
        justify-content: center;
      }
    }
  }

  
}

#posts-filter-below {
  margin-top: 2rem;
  
  .posts-view {
    margin-bottom: 1rem;
  }
}

// Grid view
.posts-grid {
  position: relative;
  
  &:not(.posts-carousel) {
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);

    @include media-breakpoint-up(xl) {
      margin-left: calc(var(--bs-gutter-x) * -0.625);
      margin-right: calc(var(--bs-gutter-x) * -0.625);
    }

    > * {
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      
      @include media-breakpoint-up(xl) {
        padding-left: calc(var(--bs-gutter-x) * 0.625);
        padding-right: calc(var(--bs-gutter-x) * 0.625);
      }
    }
  }

  > * {
    position: relative;
    padding-top: calc(var(--bs-gutter-x) * 1);
    
    @include media-breakpoint-up(xl) {
      padding-top: calc(var(--bs-gutter-x) * 1.25);
    }

    article.post {
      padding: calc(var(--bs-gutter-x) * 0.5);

      @include media-breakpoint-up(xl) {
        padding: calc(var(--bs-gutter-x) * 0.625);
      }
    }
  }

  .post-thumbnail {
    margin-bottom: 0.5rem;
  }

  .content-wrap {
    padding: calc(var(--bs-gutter-x) * 0.5);

    @include media-breakpoint-up(xl) {
      padding: calc(var(--bs-gutter-x) * 0.625);
    }
  }

  .entry-title {
    font-size: $title-font-size;
  }

  .entry-meta {
    margin-top: 0.8rem;
    @include clearfix;

    span {
      display: block;
      float: left;
    }

    span.post-comments {
      float: right;
    }
  }

  .entry-content {
    display: none;
    margin-top: 0.5rem;

    p {
      margin-bottom: 0.5rem;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-footer {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: -5px;
    @include clearfix;

    > * {
      margin-top: 0.5rem;
    }

    .read-more {
      float: left;
      
      a {
        display: inline-block;
        font-size: 0.8em;
        font-weight: $font-weight-bold;
        line-height: 1;
        padding: 0.35em 0;      
      }

      i {
        margin-left: 0.5em;
        transform: rotate(-45deg);
      }
    }

    .post-tags {
      float: right;
    }
  }

  .social-share a {
    font-size: 0.8rem;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
  }
}

.posts-view-grid {
  article.post {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .post-thumbnail {
    justify-content: center;
  }

  .post-thumbnail,
  .entry-header,
  .content-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

// Timeline View
.posts-view-timeline {
  display: block;
  padding-top: 2rem;
  padding-bottom: 3rem;
  @include clearfix;

  @include media-breakpoint-up(lg) {
    padding-top: 0.5rem;
  }

  &:before {
    background: $border-color;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    bottom: 0;
    margin: 0 auto;
    width: 2px;
    z-index: 0;
  }

  .timeline-date {
    clear: both;
    display: block;
    text-align: center;

    span {
      display: inline-block;
      background: $section-bg;
      border-radius: $border-radius-lg;
      color: $secondary;
      font-weight: $headings-font-weight;
      font-size: $title-font-size;
      margin-top: 1rem;
      padding: 0.5rem 1.5rem;

      @include media-breakpoint-up(lg) {
        margin-top: 2.5rem;
      }
    }
  }

  .post-wrap {
    width: 50%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    &:before {
      content: '';
      transform: rotate(45deg);
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 2rem;
      z-index: 0;
      background: $section-bg;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &:after {
      background: $primary;
      border-radius: $border-radius-pill;
      box-shadow: 0 0 0 2px $section-bg, 0 0 0 4px $primary;
      content: '';
      width: 0.3rem;
      height: 0.3rem;
      position: absolute;
      top: 2.55rem;
      z-index: 0;
      transform: rotate(45deg);
      
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &.left {
      @include media-breakpoint-up(lg) {
        clear: left;
        float: left;
        padding-right: calc(var(--bs-gutter-x) * 1);
      }

      @include media-breakpoint-up(xl) {
        padding-right: calc(var(--bs-gutter-x) * 1.2);
      }

      &:before {
        right: 1.2rem;
      }

      &:after {
        right: -0.15rem;
      }
    }

    &.right {
      @include media-breakpoint-up(lg) {
        clear: right;
        float: right;
        margin-top: calc(var(--bs-gutter-x) * 2.5);
        padding-left: calc(var(--bs-gutter-x) * 1);
      }

      @include media-breakpoint-up(xl) {
        padding-left: calc(var(--bs-gutter-x) * 1.2);
      }

      &:before {
        left: 1.2rem;
      }

      &:after {
        left: -0.15rem;
      }
    }
  }
}

.posts-pagination-ajax {
  position: relative;
}

// Edit link
.wordtrap-edit-link {
  display: inline-block;
  margin-top: 1rem;
}

// Author
.author-header {
  display: flex;
  margin-bottom: 2rem;

  .avatar {
    border-radius: $border-radius-lg;
    flex-shrink: 0;
  }

  dl {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-left: 1.5rem;
    margin-bottom: 0;

    *:last-child {
      margin-bottom: 0;
    }
  }
}

// Related posts
.entry-related {
  margin-top: 4rem;
}

.posts-slider {
  opacity: 0;
  
  &.tns-slider {
    opacity: 1;
  }
}