/*
 * The variables for Templates
 *
 * @package Wordtrap
 * @since wordtrap 1.0.0
 */

// Bootstrap variables
$enable-negative-margins: true !default;
$link-decoration: none !default;

// Body
$body-bg: #f5f5f5 !default;

// Header
$logo-max-width: 260px !default;

$header-bg: #fff !default;
$header-border-top-color: #0d6efd !default;
$header-logo-margin: 1rem 3rem 1rem 0 !default;
$menu-text-transform: uppercase !default;
$menu-font-weight: 500 !default;
$header-index: 1000 !default;

// Main
$main-bg: #f5f5f5 !default;
$section-bg: #ffffff !default;

// Title font size
$title-font-size: 1.2rem;
$widget-title-font-size: 1.2rem;

// Footer
$footer-bg: #252525 !default;
$footer-color: #686868 !default;
$footer-reveal-index: -10 !default;

$footer-headings-color: #fff !default;
$footer-link-color: #686868 !default;
$footer-link-hover-color: #888888 !default;


