/*
 * The variables for Templates
 *
 * @package Wordtrap
 * @since wordtrap 1.0.0
 */

// Bootstrap variables
$enable-negative-margins: true !default;
$link-decoration: none !default;

// Background and colors
$gray-900: #212529 !default;
$body-bg: #f5f5f5 !default;
$body-color: $gray-900 !default;
$headings-color: $body-color !default;

// Header
$logo-width: 260px !default;
$header-bg: #fff !default;
$header-logo-margin: 1rem 3rem 1rem 0 !default;
$header-border-top-color: #0d6efd !default;
$menu-text-transform: uppercase !default;
$menu-font-weight: 500 !default;
$header-index: 2000 !default;

// Main
$section-bg: #ffffff !default;

// Title font size
$font-size-base: 1rem !default;
$title-font-size: $font-size-base !default;
$widget-title-font-size: $font-size-base !default;

// Footer
$footer-bg: #252525 !default;
$footer-color: #686868 !default;
$footer-reveal-index: -10 !default;

$footer-headings-color: #fff !default;
$footer-link-color: #686868 !default;
$footer-link-hover-color: #888888 !default;

// Woocommerce
$single-price-font-size: $font-size-base * 1.5 !default;
$archive-price-font-size: $font-size-base !default;

// Input
$input-border-color: $body-bg !default;