
$logo-max-width: 260px !default;

$header-bg: #fff !default;
$header-border-top-color: $primary !default;
$header-logo-margin: 1rem 3rem 1rem 0 !default;
$menu-text-transform: uppercase !default;
$menu-font-weight: 500 !default;