/*
 * The styles for woocommerce
 *
 * @package Wordtrap
 * @since wordtrap 1.0.0
 */
body.single-product {
  .primary-wrap {
    &.site-layout-wide,
    &.site-layout-full {
      margin-top: 0;
    }
  }
}

.product-summary-wrapper {
  background: $section-bg;
  padding: 2rem;
  @include clearfix;

  &:not(.wide-width) {
    border-radius: $border-radius-lg;
  }

  @include media-breakpoint-down(lg) {
    padding: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }

  &.wide-width {
    padding: 5rem 0;

    .container {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }

    @include media-breakpoint-down(sm) {
      .container-fluid {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
      }
    }
  }  
}

.product-after-summary {
  > .container {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }

  @include media-breakpoint-down(sm) {
    > .container-fluid {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }
}

.woocommerce div.product .woocommerce-tabs .panel:not(#tab-reviews),
.woocommerce div.product .woocommerce-tabs .panel #comments {
  background: $section-bg;
  border-radius: $border-radius-lg;
  padding: 2rem;
  @include clearfix;

  @include media-breakpoint-down(lg) {
    padding: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }
}

.product {

  .product-labels {
    margin-bottom: 1rem;

    span {
      min-height: 0;
      min-width: 0;
      margin-right: 3px;
      margin-bottom: 3px;
      position: static;
      text-transform: uppercase;
      @extend .badge;
  
      &.onhot {
        background: $dark;
      }
  
      &.onsale {
        background: $primary;
      }
  
      &.onnew {
        background: $danger;
      }
    }
  }

  .entry-summary {
    margin-top: 0;
  } 
    
}

.woocommerce {
  div.product {
    div.images,
    div.summary {
      margin-bottom: 0;
    } 

    div.images {
      img {
        border-radius: $border-radius-lg;
      }
    }
    
    @include media-breakpoint-down(md) {
      div.summary {
        margin-top: 2rem;
      }
    }

    .woocommerce-product-rating {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }

    form.cart {
      margin-top: 1.5rem;
      margin-bottom: 0;
  
      .variations {
        margin-bottom: 0.5rem;

        th,
        td {        
          color: $secondary;

          label {
            font-weight: $font-weight-normal;
          }          
        }

        select {
          @extend .form-select;
          @extend .form-select-sm;
          background-color: $section-bg;
          display: inline-block;
          margin-bottom: 10px;
          width: auto;
        }
      }
    }

    .social-share {
      margin-top: 1.5rem;
    }

    .woocommerce-tabs {
      margin-top: 4rem;

      ul.tabs {
        padding: 0;
        &:before {
          border: none;
        }

        li {
          background: transparent;
          border: none;
          border-radius: 0;
          border-bottom: 3px solid transparent;
          margin-right: 2rem;
          margin-left: 0;
          padding: 0;
          
          &:last-child {
            margin-right: 0;
          }
          
          &:before,
          &:after {
            display: none !important;
          }

          a {
            color: $headings-color;
            font-weight: $headings-font-weight;
            font-size: $h5-font-size;
          }

          &.active {
            background: transparent;
            border-bottom-color: $primary;
          }

          &.active,
          a:hover {
            color: $primary;
          }
        }
      }

      .panel {
        h2:first-child {
          display: none;
        }
        
        > *:last-child {
          margin-bottom: 0;
        }
      }

      #reviews {
        @include media-breakpoint-up(lg) {
          display: flex;
        }

        #comments {
          margin-top: 0;
          margin-bottom: 2rem;

          @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            flex: 1 1 auto;
            width: 60%;
          }          
  
          ol.commentlist {
            padding-left: 0;

            li {
              &:last-child {
                margin-bottom: 0;
              }
              
              img.avatar {
                background: transparent;
                border: none;
                border-radius: $border-radius-pill;
                padding: 0;
                width: 50px;
              }

              .comment-text {
                margin-left: 70px;
                padding: 0;
                border: 0;
              }
            }
          }

          .star-rating {
            float: none;
            margin-bottom: 10px;
          }

          .woocommerce-review__dash {
            display: none;
          }

          strong {
            margin-right: 1rem;
          }

          .meta {
            margin-bottom: 0.5rem;
          }

          time {
            font-size: 0.8em;
          }

          .description > *:last-child {
            margin-bottom: 0;
          }
        }
  
        #review_form_wrapper {
          @include media-breakpoint-up(lg) {
            padding-left: 5%;
            width: 35%;
          }
        }

        .comment-reply-title {
          display: block;
          font-weight: $headings-font-weight;
          font-size: $h5-font-size;
          margin-bottom: 0.5rem;
        }

        #respond {
          label {
            color: $secondary;
            margin-bottom: 10px;
          }
  
          input:not([type="button"], [type="reset"], [type="submit"], [type="checkbox"], [type="radio"]),
          textarea {
            @extend .form-control;
            border: none;

            &,
            &:focus {
              background-color: $section-bg;
            }            
          }
  
          select {
            @extend .form-select;
            border: none;

            &,
            &:focus {
              background-color: $section-bg;
            }
          }
  
          [type="checkbox"], 
          [type="radio"] {
            @extend .form-check-input;
            background-color: $section-bg;
            border: none;
          }
          
          button,
          [type="button"], 
          [type="reset"], 
          [type="submit"] {
            @extend .btn;
            @extend .btn-primary;
          }

          .comment-form-cookies-consent label {
            display: inline;
            padding-left: 8px;
          }
        }        
      }
    }
  }

  div.product p.price, 
  div.product span.price,
  ul.products li.product .price {
    color: $primary;
    font-weight: $font-weight-bold;
    font-size: 1.75em;
    margin-top: 1rem;
    margin-bottom: 0;

    del {
      color: $secondary;
      font-size: 0.8em;
      margin-right: 0.5rem;
    }

    ins {
      text-decoration: none;
    }
  }

  .star-rating {
    color: $primary;
  }

  [class*="woocommerce-product-details__"] {
    margin-top: 1rem;
  }

  .product_meta {
    margin-top: 1.5rem;

    > * {
      color: $secondary;
      display: block;
      margin-bottom: 5px;

      * {
        color: $secondary;
        font-weight: $font-weight-bold;
      }

      a:hover {
        color: $primary;
      }
    }
  }

  #respond input#submit.alt, 
  a.button.alt, 
  button.button.alt, 
  input.button.alt {
    @extend .btn;
    @extend .btn-primary;
  }
}

.primary-wrap:not(.site-layout-wide, .site-layout-full) {
  div.product {
    @include media-breakpoint-down(lg) {
      div.images,
      div.summary {
        width: 100%;
      }

      div.summary {
        margin-top: 2rem;
      }
    }
  }        
}

.woocommerce-review-link {
  color: $secondary;

  &:hover {
    color: $primary;
  }
}